<h1>Assignment: Practicing Directives</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button (click)="DisplayDetails()" class="btn btn-info">Display Details</button>
      <p *ngIf="Display" >{{name}}</p>
    </div>
    <div class="col-xs-12">
    <h4>Display count: </h4>
    <p *ngFor="let no of count; index as i"
        [ngStyle]="{backgroundColor: setColor(i)}"
        [ngClass]="{'background': i >= limit}"
    >
      {{no}}
    </p>
  </div>
  </div>
</div>

<ol>
  <li>Add A button which says 'Display Details'</li>
  <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
  <li>Toggle the displaying of that paragraph with the button created in the first step</li>
  <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
  <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
</ol>